################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NewMarkAPI/.vs/NewMarkAPI
/NewMarkAPI/NewMarkAPI/obj
/NewMarkAPI/NewMarkAPI/bin/Debug/net8.0
